#filters-div {
    background-color: #ffffff;
    padding: 0 30px;
}

.filter-input-div {
    background-color: #ffffff;
    padding: 12px 15px;
    border-radius: 8px;
    margin-top: 15px;
}

.filter-input-div input,
select {
    border: none;
    font-size: 14px;
    margin-left: 8px;
    width: 85%;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
}

.filter-radio-div {
    margin: 15px auto;
}

.filter-radio-div span {
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.6);
}

#joblists-div {
    padding: 10px 25px 25px 25px;
}