.job-info {
    padding: 25px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.company-logo {
    border-radius: 50%;
}

.job-info .title {
    color: var(--main-blue);
}

.job-info .company-name {
    color: var(--main-orange);
}

.job-info .details-div {
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    color: var(--text);
    font-size: 13px;
}

.job-info .detail {
    margin: 0 30px 0 8px;
}

.job-info .skills {
    color: var(--text);
    font-size: 12px;
    margin: 10px !important;
    width: 100%;
}

.job-info .skills li {
    list-style: disc;
    margin-right: 30px;
}

@media only screen and (max-width: 768px) {
    .job-info {
        padding: 15px;
        font-size: 0.8rem;
    }
}