.dashboard-card {
    width: 360px;
    background-color: #32ac79;
    padding: 20px;
    border-radius: 8px;
    color: #FFFFFF;
    margin: 20px;
}

.dashboard-cards-div {
    flex-wrap: wrap;
}

.dashboard-card h2 {
    margin-bottom: 30px !important;
}

.dashboard-card-link {
    color: #FFFFFF;
    text-decoration: none;
}

.dashboard-card-link:hover {
    color: var(--light-pink);
}