@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
    --light-pink: #fe93a0;
    --light-yellow: #f9f2d8;
    --bg-gray: #f2f2f2;
    --main-orange: #f58220;
    --main-blue: #213f9a;
    --text: #777;
}

* {
    font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
    /* width: 5px */
    display: none;
}

.main-btn {
    padding: 10px 20px;
    background-color: var(--main-blue);
    color: #ffffff;
    border: none;
    border-radius: 3px;
}

.main-btn-link {
    color: #ffffff;
    text-decoration: none;
}

.main-btn-link:hover {
    color: var(--light-pink);
}

.active-link .MuiButtonBase-root {
    background-color: rgb(228, 228, 228) !important;
}

.ck-editor__editable {
    height: 120px !important;
}

a {
    text-decoration: none !important;
}

.main .MuiPaper-root {
    top: 70px !important;
}


/* Listings pages filter btn */

.filter-btn-div {
    float: right;
    position: relative;
    display: none;
}

@media only screen and (max-width: 768px) {
    .filter-btn-div {
        display: block;
        position: relative;
        top: -40px;
    }
}