#job-overview {
    padding: 20px;
    background-color: var(--bg-gray);
}

.job-overview-data-div {
    display: flex;
    margin: 20px 0;
}

.job-overview-data-div .icon {
    margin-right: 15px;
}

.job-overview-data-right-div span {
    color: var(--text);
    position: relative;
    top: -5px;
}